@model AuthenticationAspDotnetCore.Models.ApplicationUser

@{
    Layout = "_Layout";
  
}

<h1>Update User</h1>
<form method="post">
    <input asp-for="Id" class="form-control" hidden>
    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control">
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DateOfBirth" class="form-label"></label>
        <input asp-for="DateOfBirth" class="form-control">
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CredentialId" class="form-label"></label>
        <input asp-for="CredentialId" class="form-control">
        <span asp-validation-for="CredentialId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="HealthCareId" class="form-label"></label>
        <input asp-for="HealthCareId" class="form-control">
        <span asp-validation-for="HealthCareId" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>